<h1>Add a new item</h1>

<form action="/create_item" method="post">
  <%= csrf_meta_tags %>

  <div>
    <label for="url_box">Link URL</label>
    <input id="url_box" type="text" name="query_link_url">
  </div>

  <div>
    <label for="description_box">Link Description</label>
    <input id="description_box" type="text" name="query_link_description">
  </div>

  <div>
    <label for="thumb_box">Thumbnail URL</label>
    <input id="thumb_box" type="text" name="query_thumbnail_url">
  </div>

  <button>Create item</button>
</form>
